.button {
    -fx-background-color: rgb(48, 48, 48);
    -fx-text-fill: white;
    -fx-background-radius: 0;
    -fx-background-size: 50px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.button:hover {
    -fx-background-color: rgb(60, 60, 60);
}


#menuButton {
    -fx-background-image: url("menu.png");
}

#downloadButton {
    -fx-background-image: url("download.png");
}

.label {
    -fx-background-color: rgb(48, 48, 48);
    -fx-text-fill: white;
    -fx-alignment: center;
}

#logoLabel {
    -fx-font-size: 30;
    -fx-text-fill: green;
    -fx-font-family: "Courier New";
}

#homeButton {
    -fx-background-image: url("home.png");
}

.jfx-hamburger {
    -fx-background-color: rgb(48, 48, 48);
}

.jfx-hamburger:hover {
    -fx-background-color: rgb(60, 60, 60);
}

.jfx-hamburger StackPane {
	-fx-background-color: green;
}

#menu {
    -fx-background-color: #88F;
    -fx-spacing: 5;
}