{
	-fx-background-color: rgba(48, 48, 48, 0.9);
        -fx-text-fill: white;
    -fx-background-radius: 0;
    -fx-background-size: 50px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}